@using System.Security.Policy

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    @System.Web.Optimization.Styles.Render("~/Content/css")
</head>
<body>
<header>
    <div style="overflow: hidden;">
        <a id="koszykHeaderLink" href="link">
            Koszyk (<span id="cart-header-item-number">@Html.Action("DownloadNumberOfItemsFromCart", "Cart")</span>)
            <span></span>
        </a>
        <a id="indexHeaderLogo" href="@Url.Content("~/")">
            <img src="@Url.Content("~/Content/Images/logo.png")" class="center" />
        </a>
    </div>
</header>
    
    <div>
        @RenderBody()
    </div>

<footer>
    <nav>
        <ul>
            <li>@Html.ActionLink("About Us", "StaticSites", "Home", new { name = "AboutUs" }, null)</li>
            <li>@Html.ActionLink("Community", "StaticSites", "Home", new { name = "Community" }, null)</li>
            <li>@Html.ActionLink("Opinions", "StaticSites", "Home", new { name = "Opinions" }, null)</li>
            <li>@Html.ActionLink("Help", "StaticSites", "Home", new { name = "Help" }, null)</li>
            <li>@Html.ActionLink("Regulation", "StaticSites", "Home", new { name = "Regulation" }, null)</li>
            <li>@Html.ActionLink("Contact", "StaticSites", "Home", new { name = "Contact" }, null)</li>
        </ul>
    </nav>
    <div id="footerLogo">
    </div>
    <div id="footerCopyright">
        Copyright &copy; 2018 P. Courses
    </div>
</footer>

@RenderSection("Scripts", required : false)

</body>
</html>